@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

:root {
  --blue: #BAD1F1;
  --purple: #919BEB;
  --orange: #E9976E;
  --navy: #3356A8;
  --lightpurple: rgba(145, 155, 235, 0.17);
  --lightblue: rgba(186, 209, 241, 0.31);
}

/* Nav */
.navbar {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid lightgrey; */
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.logo-class {
  max-width: 250px;
  /* height: 20%; */
}

.menu-container {
  position: relative;
}
.menu-item {
  padding: 20px;
}

.menu-item:hover {
  color: var(--navy);
  /* font-weight: bold; */
  letter-spacing: 0.3rem;
  transition: letter-spacing 0.3s;
  padding: 20px;
}

.tiny-logo {
  height: 40px;
}

/* Home */
.bg-blob {
  background-image: url("../assets/img/blob.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 10%;
  position: relative;
}

.purple-bloc {
  background: var(--lightpurple);
  width: 100%;
  height: 150px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blue-bloc {
  background: var(--lightblue);
  width: 100%;
  height: 150px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.purple-bloc img.img-class, .blue-bloc img.img-class {
  opacity: 0.5;
  height: 150px
}

.purple-bloc:hover, .blue-bloc:hover {
  transition: transform 0.3s;
  transform: scale(1.075);
}

.bg-purple {
  background: var(--lightpurple);
}

.bg-blue {
  background: var(--lightblue);
}

/* Placement */
.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column
}

.align-items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}
.mr-1 {
  margin-right: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 5.5rem;
}


.mr-2 {
  margin-right: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-1 {
  margin-top:1rem;
}

.mt-2 {
  margin-top:2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex: 0 0 auto;
  width: 10%
}

.col-5 {
  flex: 0 0 auto;
  width: 45%;
}

.container {
  max-width: 910px;
  padding-left: 20px;
}

.sticky {
  position: sticky;
}

.w-100 {
  width:100%
}
/* Texte */
.text-center {
  text-align: center
}

.text-blue {
  color: var(--blue);
}

.text-orange {
  color: var(--orange);
}

.text-navy {
  color: var(--navy);
}

.cursor {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.font-12 {
  font-size: 12px;
}

.font-15 {
  font-size: 15px;
}

.font-50 {
  font-size: 50px;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

.letter-space-0 {
  letter-spacing: 0.1rem;
}

.letter-space-1 {
  letter-spacing: 0.2rem;
}

.letter-space-2 {
  letter-spacing: 0.3rem;
}

.link:hover {
  filter: brightness(120%)
}

/* Boutons */
#contact-btn {
  border: 1px solid var(--orange);
  background: white;
  color: var(--orange);
  /* font-weight: bold; */
  width: 158px;
  padding: 0.1rem;
  cursor: pointer;
  height: 45px;
}

#contact-btn:hover {
  /* border: 3px solid var(--orange); */
  background: var(--orange);
  color: white;
  transition: background 0.4s;
}


